body {
    background-color: #000;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
    gap: 15px;
    padding: 15px;
}

.item {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
    color: white;
    transition: transform 0.4s ease, background-color 0.3s ease;
    overflow: hidden;
}

.item:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: brightness(1.2);
}

.item1 {
    background-image: url('https://m.media-amazon.com/images/M/MV5BYzdjMDAxZGItMjI2My00ODA1LTlkNzItOWFjMDU5ZDJlYWY3XkEyXkFqcGc@._V1_.jpg');
}
.item2 {
    background-image: url('https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc4/Indiana-Jones-and-the-Great-Circle-review-header.jpg');
}
.item3 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQme4OcMTvMnPSFR5uiPXzou_-BAAaYq2Ua6ZbbGzrsU2GqwPpHTSaKIwAQu6cwkC6FaxkjTMWuYwew_N9TkWTjqRQmA1n8xouQRoutrQ');
}
.item4 {
    background-image: url('https://m.media-amazon.com/images/I/81fk-N7tvbL._UF894,1000_QL80_.jpg');
}
.item5 {
    background-image: url('https://play-lh.googleusercontent.com/VgZ60UF3ZJ6D9_pOov2SILzVrBcqJmSwiswghJBKTOEKaK_iijF2NU72v74y9YxBVD4AVy7pvNYvdR7R6inG');
}
.item6 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnxGjziiyvGKMZ6QBk1Lfq-pPudss3WfPObw&s');
}
.item7 {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIHxB4r4ikVjL1HmIrATdsHuK3gTL5aHDYyQ&s');
}
.item8 {
    background-image: url('https://m.media-amazon.com/images/M/MV5BM2JlYzU3OTQtM2FmYy00OGZiLTllM2YtMjUwZGY0NmUzODE3XkEyXkFqcGc@._V1_.jpg');
}
.item9 {
    background-image: url('https://m.media-amazon.com/images/I/81WMUxNTRYL._UF894,1000_QL80_.jpg');
    grid-column: span 2;
    grid-row: span 1;
}

.item {
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 800px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 200px;
    }
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 150px;
    }
}
