 :root {
    color-scheme: light dark   ;
 }
 body {
    color: light-dark(#333, #eee);
    background-color: light-dark(#eee, #333);

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
 }